@import "tailwindcss";

:root {
  /* Global variables */
  --background-primary-normal: #FFC700;
  --background-primary-accent: #C79B12;
  --background-neutral-subdued: #383A42;
  --background-neutral-normal:#1F2023;
  --border-primary-normal: #FFC700;
  --border-primary-subdued: #FFE8AB;
  --text-neutral-invert-accent: #1F1F1F;
  --text-neutral-accent: #D2D2D2;
}

body {
  font-family: 'Neue Haas Grotesk Text Pro', -apple-system, sans-serif;
  font-weight: 500;
}
