@import "tailwindcss";

:root {
  font-family: 'Neue Haas Grotesk Text Pro', -apple-system, sans-serif;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary-normal: #FFC700;
  --color-neutral-subdued: #FFFFFF;
  --color-neutral-accent: #D2D2D2;
  --color-neutral-invert-accent: #1F1F1F;
  --color-bg-neutral-subdued: #383A42;
}

