@import "tailwindcss";

:root {
  /* Global variables */
  --background-primary-normal: #FFC700;
  --background-primary-accent: #C79B12;
  --background-neutral-subdued: #383A42;
  --background-neutral-normal:#1F2023;
  --background-neutral-accent: #131415;
  --background-neutral-invert-normal: #FFFFFF;
  --background-custom-red: #FF0000;
  --border-primary-normal: #FFC700;
  --border-primary-subdued: #FFE8AB;
  --border-neutral-subdued: #383A42;
  --text-primary-normal: #FFC700;
  --text-neutral-invert-accent: #1F1F1F;
  --text-neutral-accent: #D2D2D2;
  --text-neutral-subdued: #FFFFFF;
}

body {
  font-family: 'Neue Haas Grotesk Text Pro', -apple-system, sans-serif;
  font-weight: 500;
}

.scroll-container {  
  overflow-x: auto;  
  scrollbar-width: none;   
  -ms-overflow-style: none; 
}  

.scroll-container::-webkit-scrollbar {  
  display: none;
}  